<br>
<div class="row">
    <div class="medium-7 large-6 columns">
        <h1>Pensamos en ti, pensamos en tu producto</h1>
        <p class="subheader">Nos dedicamos a crear website, implementando las tecnicas de Seguridad informatica.
            Desarrollamos y ajustamos el producto al alcanze de tu bolsillo.
        </p>

        <button class="button">Take a Tour</button>
        <button class="button">Start a free trial</button>
    </div>
    <div class="large-6 columns">
        <img src="http://placehold.it/400x370&text=PSR1257 + 12 C" class="picture">
    </div>
</div>
<div class="row column">
    <hr>
</div>
